<%- include partials/header.ejs %>

<div class="container">
  <h1>Dashboard</h1>
  <hr class="mb-3">
  <p class="lead">Welcome <%= user.name %></p>

  <div class="row my-5">
    <div class="col">
      <img class="img-fluid w-100" src="img/mugenS2000.jpg" alt="Mugen AP1 S2000">
    </div>
  </div> 
</div>

<%- include partials/footer.ejs %>